<%= form_with url:"/orders/met_pago" do |f| %>

    <%= f.hidden_field :number,value:@data[:number] %>
    <%= f.hidden_field :product_id,value:@data[:product_id] %>
    <%= f.hidden_field :payment_id,value:@data[:payment_id] %>

  <div class="field">
    <%= f.select :method_id, options_for_select(
   MethodPayment.where(payment_id: @data[:payment_id]).all.map{ |p| [p.description,p.id] }) %>
  </div>

    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>