<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @order.client_id %>
</p>

<p>
  <strong>Product references:</strong>
  <%= @order.product_references %>
</p>

<p>
  <strong>Payment references:</strong>
  <%= @order.payment_references %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
